<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.math.android.alltasks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondClass" />
        <!--
             Activity SecondWindowLikeDialog has different theme
            so it makes it look like dialog window.
        -->
        <activity
            android:name=".SecondWindowLikeDialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".SecondReceiveText" />
        <activity android:name=".SecondReceiveTexts" />
        <activity android:name=".ThirdClass" />
        <activity android:name=".FourthClass" />

        <receiver
            android:name=".ThirdMyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hr.math.android.alltasks.NEW_LIFEFORM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ChargingChanged"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ThirdBothFragments" />
        <activity android:name=".ThirdAlternatingFragments" />
        <activity android:name=".ThirdMixFragments" />
        <activity android:name=".FifthClass" />
        <activity android:name=".FifthSharedPreferences" />
        <activity android:name=".FifthFileSaving" />
        <activity android:name=".FifthReadFile"></activity>
    </application>

</manifest>