<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.math.android.alltasks">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pic1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".second.SecondClass" />
        <!--
             Activity SecondWindowLikeDialog has different theme
            so it makes it look like dialog window.
        -->
        <activity
            android:name=".second.SecondWindowLikeDialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".second.SecondReceiveText" />
        <activity android:name=".second.SecondReceiveTexts" />
        <activity android:name=".third.ThirdClass" />
        <activity android:name=".fourth.FourthClass" />

        <receiver
            android:name=".third.ThirdMyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hr.math.android.alltasks.NEW_LIFEFORM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ChargingChanged"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".third.ThirdBothFragments" />
        <activity android:name=".third.ThirdAlternatingFragments" />
        <activity android:name=".third.ThirdMixFragments" />
        <activity android:name=".fifth.FifthClass" />
        <activity android:name=".fifth.FifthSharedPreferences" />
        <activity android:name=".fifth.FifthFileSaving" />
        <activity android:name=".fifth.FifthReadFile" />
        <activity android:name=".fifth.FifthLogDebug" />
        <activity android:name=".fifth.FifthOptionsContextMenu" />
        <activity
            android:name=".fifth.FifthBonusOptionsMenu"
            android:label="@string/title_activity_fifth_bonus_options_menu" />
        <activity android:name=".fourth.FourthLinearLayout" />
        <activity android:name=".fourth.FourthViewElements" />
        <activity android:name=".fourth.FourthListView" />
        <activity android:name=".fourth.FourthProgressBar" />
        <activity android:name=".fourth.FourthGalery" />
        <activity android:name=".sixth.SixthClass" />
        <activity android:name=".seventh.SeventhClass" />
        <activity android:name=".seventh.SeventhEmbeddedCP" />

        <provider
            android:name=".seventh.BookProvider"
            android:authorities="hr.math.android.alltasks.seventh.contprov" />

        <activity android:name=".seventh.SeventhTestingBookProvider" />
        <activity android:name=".eight.EighthClass" />
        <activity android:name=".eight.EighthSendSmsMail" />
        <activity android:name=".eight.EighthDownloadPicTxt" />
        <activity
            android:name=".test.NoBack"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.EnterPassword"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".test.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".test.FingerSigning"></activity>
    </application>

</manifest>